@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  overflow: hidden;
  height: 100%;
}

html, body {
  height: 100% !important;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}


